USE [master]
GO
/****** Object:  Database [LabB3b_QLSieuThi_23120023]    Script Date: 3/26/2025 9:45:17 PM ******/
CREATE DATABASE [LabB3b_QLSieuThi_23120023]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LabB3b_QLSieuThi_23120023', FILENAME = N'D:\OneDrive - VNU-HCMUS\source\repos\HK4\CSDL\Lab\LabB3b-QLSThi-23CTT1-N2-23120023-2024\LabB3b_QLSieuThi_23120023.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LabB3b_QLSieuThi_23120023_log', FILENAME = N'D:\OneDrive - VNU-HCMUS\source\repos\HK4\CSDL\Lab\LabB3b-QLSThi-23CTT1-N2-23120023-2024\LabB3b_QLSieuThi_23120023_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LabB3b_QLSieuThi_23120023].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LabB3b_QLSieuThi_23120023]
GO
/****** Object:  Table [dbo].[CT_HOA_DON]    Script Date: 3/26/2025 9:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOA_DON](
	[mahd] [int] NOT NULL,
	[masp] [int] NOT NULL,
	[soluong] [int] NULL,
	[dongia] [int] NULL,
 CONSTRAINT [PK_CT_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[mahd] ASC,
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 3/26/2025 9:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[mahd] [int] IDENTITY(1,1) NOT NULL,
	[ngaylap] [date] NULL,
	[makh] [int] NOT NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[mahd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 3/26/2025 9:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[makh] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](100) NOT NULL,
	[gioitinh] [char](1) NULL,
	[dthoai] [varchar](50) NULL,
	[diachi] [nvarchar](100) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 3/26/2025 9:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[masp] [int] IDENTITY(101,1) NOT NULL,
	[tensp] [nvarchar](100) NOT NULL,
	[ngaysx] [date] NULL,
	[dongia] [int] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_HOA_DON] ([mahd], [masp], [soluong], [dongia]) VALUES (1, 101, 1, 20000)
INSERT [dbo].[CT_HOA_DON] ([mahd], [masp], [soluong], [dongia]) VALUES (1, 103, 1, 18000)
INSERT [dbo].[CT_HOA_DON] ([mahd], [masp], [soluong], [dongia]) VALUES (2, 102, 2, 15000)
GO
SET IDENTITY_INSERT [dbo].[HOA_DON] ON 

INSERT [dbo].[HOA_DON] ([mahd], [ngaylap], [makh]) VALUES (1, CAST(N'2025-03-10' AS Date), 1)
INSERT [dbo].[HOA_DON] ([mahd], [ngaylap], [makh]) VALUES (2, CAST(N'2025-03-12' AS Date), 2)
INSERT [dbo].[HOA_DON] ([mahd], [ngaylap], [makh]) VALUES (3, CAST(N'2025-03-14' AS Date), 3)
SET IDENTITY_INSERT [dbo].[HOA_DON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([makh], [hoten], [gioitinh], [dthoai], [diachi]) VALUES (1, N'Nguyễn Văn A', N'M', N'0987654321          ', N'Hà Nội')
INSERT [dbo].[KHACH_HANG] ([makh], [hoten], [gioitinh], [dthoai], [diachi]) VALUES (2, N'Trần Thị B', N'F', N'0912345678          ', N'Đà Nẵng')
INSERT [dbo].[KHACH_HANG] ([makh], [hoten], [gioitinh], [dthoai], [diachi]) VALUES (3, N'Lê Văn C', N'M', N'0909876543          ', N'Hải Phòng')
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
SET IDENTITY_INSERT [dbo].[SAN_PHAM] ON 

INSERT [dbo].[SAN_PHAM] ([masp], [tensp], [ngaysx], [dongia]) VALUES (101, N'Bánh quy', CAST(N'2024-02-15' AS Date), 20000)
INSERT [dbo].[SAN_PHAM] ([masp], [tensp], [ngaysx], [dongia]) VALUES (102, N'Sữa tươi hộp', CAST(N'2024-12-10' AS Date), 15000)
INSERT [dbo].[SAN_PHAM] ([masp], [tensp], [ngaysx], [dongia]) VALUES (103, N'Nước cam hộp', CAST(N'2024-12-20' AS Date), 18000)
SET IDENTITY_INSERT [dbo].[SAN_PHAM] OFF
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOA_DON_HOA_DON] FOREIGN KEY([mahd])
REFERENCES [dbo].[HOA_DON] ([mahd])
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [FK_CT_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOA_DON_SAN_PHAM] FOREIGN KEY([masp])
REFERENCES [dbo].[SAN_PHAM] ([masp])
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [FK_CT_HOA_DON_SAN_PHAM]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([makh])
REFERENCES [dbo].[KHACH_HANG] ([makh])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_CT_HOA_DON_dongia] CHECK  (([dongia]>=(0)))
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [CK_CT_HOA_DON_dongia]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_CT_HOA_DON_soluong] CHECK  (([soluong]>=(1)))
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [CK_CT_HOA_DON_soluong]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_HOA_DON_ngaylap] CHECK  (([ngaylap]<=getdate()))
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [CK_HOA_DON_ngaylap]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACH_HANG_gioitinh] CHECK  (([gioitinh]='M' OR [gioitinh]='F'))
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [CK_KHACH_HANG_gioitinh]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [CK_SAN_PHAM_dongia] CHECK  (([dongia]>=(0)))
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [CK_SAN_PHAM_dongia]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [CK_SAN_PHAM_ngaysx] CHECK  (([ngaysx]<=getdate()))
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [CK_SAN_PHAM_ngaysx]
GO
USE [master]
GO
